<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968781617160-v84ust8abn5j90vhptqo5fel0msnsbuu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968781617160-v84ust8abn5j90vhptqo5fel0msnsbuu</string>
	<key>API_KEY</key>
	<string>AIzaSyBTlm25oGlc8YuNsb-QzHtPI4jlYoaDpwY</string>
	<key>GCM_SENDER_ID</key>
	<string>968781617160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aspc.guardianPetApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pet-guardian-80461</string>
	<key>STORAGE_BUCKET</key>
	<string>pet-guardian-80461.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968781617160:ios:e72fd97573c7a50b4fd9bd</string>
</dict>
</plist>